﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PizzaDelivery.Models;
<br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                @{double total = 0;}
                @{foreach (var item in (List<Item>)Session["cart"])
                    {
                        double subTotal = Convert.ToDouble(item.Quantity) * Convert.ToDouble(item.Pizza.Price);
                        total += subTotal;
                        <tr>
                            <td>@Html.ActionLink("Delete", "Delete", "ShoppingCart", new { id = item.Pizza.PizzaID }, null)</td>
                            <td>@item.Pizza.PizzaName</td>
                            <td>@item.Pizza.Price,- Kč</td>
                            <td>@item.Quantity</td>
                            <td>@(item.Pizza.Price * item.Quantity),- Kč</td>
                        </tr>
                    }
                }
                <tfoot>
                    <tr>
                        <td align="right" colspan="4">Sum</td>
                        <td>@total,- Kč</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="row">
            <div class="col-md-6">
                <button class="btn btn-default btn-primary" type="button" onclick="location.href='@Url.Action("Index", "Pizzas")'">Continue Shopping</button>
            </div>
            <div class="col-md 6">
                <button class="btn btn-default btn-primary col-md-offset-5" type="button" onclick="location.href='@Url.Action("Create", "Orders")'">Checkout</button>
            </div>
        </div>
</div>
<br />