﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#ingredience {
    height: 150px;
    width: 300px;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
}

#ingredience li {
    display: inline-block;
}

#pizzy {
    position: relative;
}

.navbar-inverse {
    background-color: #337ab7;
    border-color: #000000;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a:hover, a:active {
  background-color: silver;
}
