﻿@model List<PizzaDelivery.Models.Pizza>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@{foreach (var item in Model)
    {
        <hr />
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="holder.js/250x250" alt="Generic placeholder image" style="width:250px;height:250px">
                    </a>
                </div>
                <div class="col-md-9">
                    <p>
                        <h2>@Html.DisplayFor(model => item.PizzaName)</h2> <br />
                    </p>
                    <p>
                         <h4>Ingredients:</h4>
                         <ul>
                            @{foreach (var item1 in item.PizzasToIngredients)
                                {
                                    <li>@item1.Ingredient.IngredientName</li>
                                }
                            }
                        </ul>
                    </p>
                    <div class="clearfix">
                        <button class="btn btn-default btn-primary pull-right" type="button" onclick="location.href='@Url.Action("AddToCart", "ShoppingCart", new { id = item.PizzaID })'">@Html.DisplayFor(model => item.Price)</button>
                    </div>
                </div>
            </div>
        </div>
        @Html.ActionLink("Edit", "Edit", new { id = item.PizzaID })
    }
}
