﻿@model Order
@using PizzaDelivery.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <br />
        <div class="col-md-6">
            <h2>Delivery details</h2>
            <dl>
                @foreach (var item in TempData["form"] as List<Order>)
                {
                    <dt>First name</dt>
                    <dd>@item.FirstName</dd>
                    <dt>Last name</dt>
                    <dd>@item.LastName</dd>
                    <dt>Email</dt>
                    <dd>@item.Email</dd>
                    <dt>Contact</dt>
                    <dd>@item.Contact</dd>
                    <dt>Address</dt>
                    <dd>@item.Address</dd>
                    <dt>ZipCode</dt>
                    <dd>@item.ZipCode</dd>
                    <dt>City</dt>
                    <dd>@item.City</dd>
                }
            </dl>
        </div>

        <div class="col-md-6">
            <h2>Order details</h2>
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                @{double total = 0;}
                @{foreach (var item in (List<Item>)Session["cart"])
            {
                double subTotal = Convert.ToDouble(item.Quantity) * Convert.ToDouble(item.Pizza.Price);
                total += subTotal;
                        <tr>
                            <td>@item.Pizza.PizzaName</td>
                            <td>@item.Pizza.Price,- Kč</td>
                            <td>@item.Quantity</td>
                            <td>@(item.Pizza.Price * item.Quantity),- Kč</td>
                        </tr>
                    }
                }
                <tfoot>
                    <tr>
                        <td align="right" colspan="3">Sum</td>
                        <td>@total,- Kč</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <button class="btn btn-default btn-primary" type="button" onclick="location.href='@Url.Action("Create", "Orders")'">Back</button>
    <button class="btn btn-default btn-primary pull-right" type="button" onclick="location.href='@Url.Action("Save", "Orders")'">Order</button>
    <br />
</div>


