﻿@model PizzaDelivery.Models.Order

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Order</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DateOfOrder)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DateOfOrder)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Contact)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Contact)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PriceSum)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PriceSum)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NumberOfPizzas)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NumberOfPizzas)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ZipCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ZipCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
